In [11]:
import pandas as pd

In [12]:
pd.read_html('https://www.basketball-reference.com/teams/NYK/2025.html')

[     No.                   Player Pos   Ht   Wt          Birth Date  Birth  \
 0   25.0            Mikal Bridges  SF  6-6  209     August 30, 1996  us US
 1   11.0            Jalen Brunson  PG  6-2  190     August 31, 1996  us US
 2    3.0                Josh Hart  SG  6-4  215       March 6, 1995  us US
 3    8.0               OG Anunoby  PF  6-7  232       July 17, 1997  gb GB
 4    1.0            Cameron Payne  PG  6-3  183      August 8, 1994  us US
 5   32.0       Karl-Anthony Towns   C  7-0  248   November 15, 1995  us US
 6    2.0            Miles McBride  PG  6-2  200   September 8, 2000  us US
 7    5.0         Precious Achiuwa   C  6-8  225  September 19, 1999  ng NG
 8   44.0            Landry Shamet  SG  6-4  190      March 13, 1997  us US
 9   13.0              Tyler Kolek  PG  6-1  195      March 27, 2001  us US
 10  55.0           Ariel Hukporti   C  7-0  246      April 11, 2002  de DE
 11   4.0            Pacome Dadiet  SG  6-7  210       July 27, 2005  fr FR
 12  23.0        Mitchell Robinson   C  7-0  240       April 1, 1998  us US
 13   0.0             Delon Wright  PG  6-5  185      April 26, 1992  us US
 14   NaN  Kevin McCullar Jr. (TW)  SF  6-6  210      March 15, 2001  us US
 15   NaN        Anton Watson (TW)  SF  6-8  225     October 6, 2000  us US
 16   NaN    MarJon Beauchamp (TW)  SF  6-6  199    October 12, 2000  us US

    Exp                          College
 0    6                        Villanova
 1    6                        Villanova
 2    7                        Villanova
 3    7                          Indiana
 4    9                     Murray State
 5    9                         Kentucky
 6    3                    West Virginia
 7    4                          Memphis
 8    6                    Wichita State
 9    R          George Mason, Marquette
 10   R                              NaN
 11   R                              NaN
 12   6                 Western Kentucky
 13   9                             Utah
 14   R               Texas Tech, Kansas
 15   R                          Gonzaga
 16   2  Yakima Valley Community College  ,
       Rk              Player   Age  Pos   G  GS     MP    FG   FGA    FG%  \
 0    1.0       Mikal Bridges  28.0   SF  63  63   37.9   7.1  14.6  0.491
 1    2.0           Josh Hart  29.0   SG  60  60   37.9   5.6  10.2  0.545
 2    3.0          OG Anunoby  27.0   PF  57  57   36.6   6.1  13.0  0.470
 3    4.0       Jalen Brunson  28.0   PG  61  61   35.4   9.1  18.7  0.490
 4    5.0  Karl-Anthony Towns  29.0    C  56  56   35.2   8.7  16.7  0.522
 5    6.0       Miles McBride  24.0   PG  53   2   23.9   3.2   7.9  0.407
 6    7.0    Precious Achiuwa  25.0    C  40   8   22.3   3.0   5.7  0.524
 7    8.0       Cameron Payne  30.0   PG  57   1   14.2   2.5   6.0  0.409
 8    9.0   Mitchell Robinson  26.0    C   4   1   13.5   2.3   3.5  0.643
 9   10.0       Landry Shamet  27.0   SG  31   0   11.4   1.4   3.0  0.468
 10  11.0        Jericho Sims  26.0    C  39   5   10.8   0.7   1.2  0.609
 11  12.0      Ariel Hukporti  22.0    C  25   1    8.7   0.8   1.2  0.677
 12  13.0       Pacome Dadiet  19.0   SG  14   0    6.8   0.6   1.9  0.333
 13  14.0         Tyler Kolek  23.0   PG  29   0    5.1   0.6   1.6  0.383
 14  15.0        Delon Wright  32.0   PG   3   0    4.3   0.3   0.7  0.500
 15  16.0           Matt Ryan  27.0   SF  19   0    3.6   0.5   1.6  0.323
 16  17.0        Jacob Toppin  24.0   SF  16   0    3.1   0.2   0.6  0.300
 17   NaN         Team Totals   NaN  NaN  63  63  242.4  43.7  89.4  0.488

     ...   ORB   DRB   TRB   AST  STL  BLK   TOV    PF    PTS  Awards
 0   ...   0.9   2.3   3.2   3.4  1.0  0.6   1.5   1.4   17.3     NaN
 1   ...   2.2   7.6   9.8   5.6  1.5  0.4   2.1   2.6   14.5     NaN
 2   ...   1.4   3.3   4.7   2.1  1.4  0.9   1.4   2.3   16.4     NaN
 3   ...   0.4   2.6   3.0   7.4  1.0  0.1   2.5   2.2   26.3     NaN
 4   ...   3.1  10.3  13.3   3.1  1.0  0.7   2.6   3.5   24.2     NaN
 5   ...   0.8   1.7   2.5   2.6  0.9  0.2   0.6   1.5    9.0     NaN
 6   ...   2.1   4.0   6.2   1.1  0.9  0.8   0.8   1.6    7.0     NaN
 7   ...   0.2   1.2   1.4   2.7  0.6  0.2   0.6   1.5    6.9     NaN
 8   ...   2.3   1.8   4.0   0.3  0.3  0.3   0.3   1.3    5.3     NaN
 9   ...   0.2   0.6   0.8   0.5  0.4  0.1   0.4   0.8    3.6     NaN
 10  ...   1.3   2.0   3.3   0.6  0.2  0.3   0.5   1.2    1.6     NaN
 11  ...   0.6   1.5   2.0   0.4  0.0  0.6   0.8   1.3    1.9     NaN
 12  ...   0.0   1.0   1.0   0.4  0.2  0.1   0.1   0.4    1.9     NaN
 13  ...   0.1   0.4   0.5   0.8  0.2  0.0   0.3   0.4    1.8     NaN
 14  ...   0.0   0.3   0.3   0.7  0.3  0.3   0.0   0.0    1.3     NaN
 15  ...   0.0   0.4   0.4   0.2  0.1  0.0   0.2   0.1    1.5     NaN
 16  ...   0.1   0.6   0.7   0.3  0.1  0.0   0.1   0.2    0.4     NaN
 17  ...  10.8  32.2  43.1  27.2  7.8  3.9  13.2  16.9  116.9     NaN

 [18 rows x 30 columns],
     Rk              Player  Age Pos   G  GS    MP   FG   FGA    FG%  ...  ORB  \
 0    1       Mikal Bridges   28  SF  63  63  2386  6.8  13.8  0.491  ...  0.9
 1    2           Josh Hart   29  SG  60  60  2276  5.3   9.7  0.545  ...  2.1
 2    3       Jalen Brunson   28  PG  61  61  2162  9.3  18.9  0.490  ...  0.4
 3    4          OG Anunoby   27  PF  57  57  2086  6.0  12.8  0.470  ...  1.4
 4    5  Karl-Anthony Towns   29   C  56  56  1970  8.9  17.1  0.522  ...  3.1
 5    6       Miles McBride   24  PG  53   2  1267  4.9  11.9  0.407  ...  1.2
 6    7    Precious Achiuwa   25   C  40   8   893  4.8   9.2  0.524  ...  3.4
 7    8       Cameron Payne   30  PG  57   1   812  6.2  15.2  0.409  ...  0.5
 8    9        Jericho Sims   26   C  39   5   422  2.4   3.9  0.609  ...  4.4
 9   10       Landry Shamet   27  SG  31   0   353  4.5   9.6  0.468  ...  0.5
 10  11      Ariel Hukporti   22   C  25   1   217  3.5   5.1  0.677  ...  2.3
 11  12         Tyler Kolek   23  PG  29   0   148  4.4  11.4  0.383  ...  0.5
 12  13       Pacome Dadiet   19  SG  14   0    95  3.4  10.2  0.333  ...  0.0
 13  14           Matt Ryan   27  SF  19   0    68  5.3  16.4  0.323  ...  0.0
 14  15   Mitchell Robinson   26   C   4   1    54  6.0   9.3  0.643  ...  6.0
 15  16        Jacob Toppin   24  SF  16   0    49  2.2   7.3  0.300  ...  1.5
 16  17        Delon Wright   32  PG   3   0    13  2.8   5.5  0.500  ...  0.0

      DRB   TRB  AST  STL  BLK  TOV   PF   PTS  Awards
 0    2.1   3.0  3.2  0.9  0.5  1.4  1.4  16.4     NaN
 1    7.2   9.3  5.3  1.4  0.3  2.0  2.5  13.7     NaN
 2    2.6   3.0  7.5  1.0  0.1  2.5  2.2  26.7     NaN
 3    3.3   4.6  2.0  1.3  0.9  1.3  2.3  16.1     NaN
 4   10.5  13.7  3.2  1.0  0.7  2.6  3.6  24.8     NaN
 5    2.6   3.8  3.9  1.4  0.4  1.0  2.2  13.5     NaN
 6    6.5   9.9  1.8  1.4  1.3  1.2  2.5  11.2     NaN
 7    3.1   3.6  6.7  1.5  0.6  1.6  3.9  17.5     NaN
 8    6.7  11.0  1.9  0.7  0.9  1.8  3.9   5.5     NaN
 9    2.0   2.5  1.7  1.3  0.2  1.2  2.5  11.4     NaN
 10   6.1   8.5  1.8  0.2  2.5  3.5  5.3   8.0     NaN
 11   3.2   3.6  5.4  1.7  0.2  2.2  2.9  12.9     NaN
 12   5.3   5.3  1.9  1.1  0.8  0.8  1.9   9.9     NaN
 13   4.2   4.2  1.6  1.1  0.0  1.6  0.5  14.8     NaN
 14   4.7  10.7  0.7  0.7  0.7  0.7  3.3  14.0     NaN
 15   6.6   8.1  2.9  1.5  0.0  1.5  2.2   4.4     NaN
 16   2.8   2.8  5.5  2.8  2.8  0.0  0.0  11.1     NaN

 [17 rows x 30 columns]]

In [10]:
pip install lxml

Collecting lxmlNote: you may need to restart the kernel to use updated packages.

  Downloading lxml-5.3.1-cp313-cp313-win_amd64.whl.metadata (3.8 kB)
Downloading lxml-5.3.1-cp313-cp313-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/3.8 MB 660.9 kB/s eta 0:00:05
   ----- ---------------------------------- 0.5/3.8 MB 660.9 kB/s eta 0:00:05
   -------- ------------------------------- 0.8/3.8 MB 679.7 kB/s eta 0:00:05
   -------- ------------------------------- 0.8/3.8 MB 679.7 kB/s eta 0:00:05
   ---------- ----------------------------- 1.0/3.8 MB 638.7 kB/s eta 0:00:05
   ---------- ----------------------------- 1.0/3.8 MB 638.7 kB/s eta 0:00:05
   ------------- -------------------------- 1.3/3.8 MB 614.0 kB/s eta 0:00:05
   ------------- -------------------------- 1.3/3.8 MB 614.0 kB/s eta 0:00:05
   ---------------- ----------------------- 1.6/3.8 MB 607.1 kB/s eta 0:00:04
   ---------------- ----------------------- 1.6/3.8 MB 607.1 kB/s eta 0:00:04
   ------------------- -------------------- 1.8/3.8 MB 616.1 kB/s eta 0:00:04
   --------------------- ------------------ 2.1/3.8 MB 647.1 kB/s eta 0:00:03
   --------------------- ------------------ 2.1/3.8 MB 647.1 kB/s eta 0:00:03
   ------------------------ --------------- 2.4/3.8 MB 675.9 kB/s eta 0:00:03
   --------------------------- ------------ 2.6/3.8 MB 698.5 kB/s eta 0:00:02
   --------------------------- ------------ 2.6/3.8 MB 698.5 kB/s eta 0:00:02
   ------------------------------ --------- 2.9/3.8 MB 710.9 kB/s eta 0:00:02
   -------------------------------- ------- 3.1/3.8 MB 728.5 kB/s eta 0:00:01
   -------------------------------- ------- 3.1/3.8 MB 728.5 kB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 725.0 kB/s eta 0:00:01
   -------------------------------------- - 3.7/3.8 MB 723.3 kB/s eta 0:00:01
   -------------------------------------- - 3.7/3.8 MB 723.3 kB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 719.5 kB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.3.1

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
import pandas as pd

In [208]:
hi=pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv')

In [34]:
hi

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [43]:
hi.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [57]:

hi['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [58]:
len(hi)

891

In [59]:
hi.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [127]:
(len(hi['Sex'][hi['Sex']=='male']))

577

In [135]:
(hi['Sex']=='male').value_counts()

Sex
True     577
False    314
Name: count, dtype: int64

In [102]:
(hi['Sex'][hi['Survived']==1])

1      female
2      female
3      female
8      female
9      female
        ...
875    female
879    female
880    female
887    female
889      male
Name: Sex, Length: 342, dtype: object

In [75]:
(hi['Sex'][hi['Survived']==0])

0        male
4        male
5        male
6        male
7        male
        ...
884      male
885    female
886      male
888    female
890      male
Name: Sex, Length: 549, dtype: object

In [126]:
x=hi[['Survived']=='0'].value_counts()

KeyError: False

In [87]:
print(x)

Survived
0    549
1    342
Name: count, dtype: int64

In [80]:
hi[''].value_counts()

KeyError: 'Casuality'

In [148]:
(hi['Age'][hi['Age']>=25])

1      38.0
2      26.0
3      35.0
4      35.0
6      54.0
       ...
884    25.0
885    39.0
886    27.0
889    26.0
890    32.0
Name: Age, Length: 436, dtype: float64

In [144]:
hi[hi['Age']==hi['Age'].min()]['Name']

803    Thomas, Master. Assad Alexander
Name: Name, dtype: object

In [149]:
hi[hi['Age']==hi['Age'].max()]['Name']

630    Barkworth, Mr. Algernon Henry Wilson
Name: Name, dtype: object

In [168]:
hi['PassengerId'][hi['PassengerId']=='ticket']

Series([], Name: PassengerId, dtype: int64)

In [155]:
hi['Ticket']

0             A/5 21171
1              PC 17599
2      STON/O2. 3101282
3                113803
4                373450
             ...
886              211536
887              112053
888          W./C. 6607
889              111369
890              370376
Name: Ticket, Length: 891, dtype: object

In [174]:
#Difference in survival based on class

(class_survival = hi.groupby('Ticket').sum()['Survived']==2)
class_survival

TypeError: len() takes no keyword arguments

In [185]:
hi['PassengerId'][hi['Ticket'==0]].value_counts()

KeyError: False

In [177]:
hi['Pclass'].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [191]:
len(hi['Name'][hi['Name']=='s'])

0

In [202]:
hi['Name'].str

In [205]:
(hi['Name'].str.startswith('S'))

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Name, Length: 891, dtype: bool

In [217]:
len(hi[hi['Name'].str.startswith('S')])

86

In [222]:
import pandas as pd

In [226]:
pd.read_csv('https://archive.ics.uci.edu/dataset/222/bank+marketing.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 6, saw 2